# Salin file ini menjadi .env (untuk lokal) dan isi juga di Vercel > Settings > Environment Variables

DB_HOST=aws.connect.psdb.cloud
DB_PORT=3306
DB_USER=isi_dari_planetscale
DB_PASSWORD=isi_dari_planetscale
DB_NAME=univents
DB_SSL=true

JWT_SECRET=ganti-dengan-string-acak-yang-panjang-dan-rahasia
